.Cupload{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

#Home{
    color: white;
    text-decoration: none;
}

#imgsize{
    width: 512px;
    height: 512px;
}